.root {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top:50px
  }

#map-container{
  align-self: flex-start;
  color: #64808b;
  background-color: #008cba;
  height: 100%;
  width: 100%;
  order:2;
}

#map{
  align-self: center;
}

.input-coordination{
  background-color: #008cba;
  color: white;
}
.panel-primary {
  order: 1;
  align-self: flex-end;

}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.form-control {
  font-size: 15px;
  color: #64808b;
}

div.input {
  padding-bottom: 0.5em;
  padding-right: 1cm;
  height: 13cm;
}

.combo-box {
  border: 3px solid;
  margin-right: 0.5cm;
  margin-left: 0.25cm;
  border-color: #008cba;
}

#dataset-form,
#variable-form {
  width: 180px;
  height: auto;
  margin: 10px;
  
}

.h3s {
  margin-left: 0.5cm;
  font-size: small;
  font-weight: 700;
}

.button {
  width: 2cm;
  height: 2cm;
}

#popup {
  width: auto;
  height: auto;
}

.btn {
  border: 0ch;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

#summary {
  font-size: small;
}

#coo-display{
  width: 5cm;

}

button{
  color: #008cba;
  }

